greybox
{
	min-height: 25px;
	min-width: 25px;
	background: fill;
	palette-fill: #808080;
}

purplebox
{
	min-height: 25px;
	min-width: 25px;
	background: fill;
	palette-fill: #FF00FF;
}

lighter
{
	palette: halfshine shine halfdark;
}

darker
{
	palette: halfshadow halfshine;
}

window
{
	background: url(feelin:resources/install/back.png) fill bottom right no-repeat;
}
